<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.icloud-djharrold53.NativeDash.DayTypeUpdater</string>
	</array>
	<key>LSEnvironment</key>
	<dict>
		<key>API_ENDPOINT</key>
		<string>$(API_ENDPOINT)</string>
		<key>API_KEY</key>
		<string>$(API_KEY)</string>
		<key>SCHOOL_ID</key>
		<string>$(SCHOOL_ID)</string>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>processing</string>
	</array>
</dict>
</plist>
